h1 {
    text-align: center;
}
.commentButton {
    color: #008CBA;
    -webkit-color: #008CBA;
    -moz-color: #008CBA;
}
.commentButton:hover {
    text-decoration: underline;
    cursor: pointer;
    -webkit-color: #008CBA;
    -webkit-text-decoration: underline;
    -webkit-cursor: pointer;
    -moz-text-decoration: underline;
    -moz-cursor: pointer;
    
}

.deleteButton {
    color: #008CBA;
    -webkit-color: #008CBA;
}
.deleteButton:hover {
    text-decoration: underline;
    cursor: pointer;
    -webkit-text-decoration: underline;
    -webkit-cursor: pointer;
    -moz-text-decoration: underline;
    -moz-cursor: pointer;
}

#parentId {
    display: none;
}

#comments {
    margin: 20px 20px;
    padding: 10px;
}

#alert {
    display: none;
}
.comment {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    width: 500px;
    
}
.container {
    
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 30px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}